<div>

  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">iRobot Pet DB</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">  

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="pets" class="nav-link">Pets</a>
        </li>
        <li class="nav-item">
          <a routerLink="add" class="nav-link">Add</a>
        </li>      
      </ul>
      
      <ul class="navbar-nav navbar-right">
      
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="login" class="btn btn-outline-primary">Sign In</a></li>
      
        <li *ngIf="authService.isAuthenticated()" class="dropdown">
          <a class="btn btn-outline-primary dropdown-toggle" role="button" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            {{authService.user.username}}
          </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <button class="dropdown-item" type="submit" (click)="logout()">Sign Out</button>
            </div>
        </li>
      
      </ul>

    </div>     
    
  </nav>
    
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>