<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="pet.name" name="name"/>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input class="form-control" id="age" required [(ngModel)]="pet.age" name="name"/>
      </div>

      <div class="form-group">          
        <input class="form-check-input ml-1" type="checkbox" [(ngModel)]="pet.exact_age" name="exact_age">
        <label class="ml-4" for="exact_age">Exact Age</label>  
      </div>  

      <button (click)="savePet()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Pet was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newPet()">Add</button>
    </div>
  </div>
</div>